.hero-unit {
	color: black;
	position: absolute;
	top: 3%;
	left:5%;
	height: 300px;
	width: 90%;
	padding: 5px;
	margin: 0;
	padding-top: 0;
	font-size: 14px;
}

#appName {
	font-size: 2em;
}

#mainNav .nav  .navLink  a {
	padding: 12px;
	
}



.btn-group{
	position: absolute;
	top:320px;
}

#infoBoxContainer {
	position: absolute;
	left: 10px;
	height: 200px;
	width:250px;
	top: 50px;
	color: black;
	font-size: 12px;
}
#infoBox {
	height: 180px;
	width:250px;
}

#infoBoxContainer button{
	position: relative;
	
}

.learnHeader{
	display: block;
	vertical-align: top;
}

.learnHeader h4 {
	font-size: 14px;
	display: inline-block
}

.learnHeader img {
	
	display: inline-block
}